body{
	background: #232323;
	margin: 0;
	font-family: "Montserrat";
}

#container{
	max-width: 600px;
	margin:20px auto;
}
.square
{
	width:30%;
	padding-bottom: 30%;
	background: purple;
	float: left;
	margin:1.66%;
	border-radius: 30%; 
	transition:background 1.0s;
	-webkit-transition:background 1.0s;/*to make it browser friendly*/
	-moz-transition:background 1.0s;/*to work im mozilla ,hence always add all 3*/
}
h1{
	color:white;
	text-align: center;
	background:steelblue;
	line-height: 1.1;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0;
	margin:0;
}
#stripe{
	background: white;
	height: 30px;
	text-align: center;
	color:black;
}
.selected{
	background: steelblue;
	color:white;
}
#disp{
	font-size:1.7em;
}
button{
	border:none;/*or border:0*/;
	background: none;
	text-transform: uppercase;
	height:100%;
	font-weight: 700;
	color:steelblue;
	letter-spacing: 1.1px;
	font-size: inherit;
	transition:all 0.5s;   /*all says all changes on button and 0.4 sec says time between transitions*/
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	outline:none; 
}
button:hover{
	color:white;
	background: steelblue;
}
#message{
	display: inline-block;
	width:20%;
}